<div class="homepage-hero-module">
        <div class="video-container">
            <div class="filter"></div>
            <video autoplay loop class="fillWidth">
                <source src=<%=asset_path("busypeople/MP4/Busy-People.mp4") %> type="video/mp4" />
                <source src=<%=asset_path("busypeople/WEBM/Busy-People.webm") %> type="video/webm" />
            </video>

            
        </div>

        <div class ="title-container">

                <img src=<%=asset_path("argo-white.png") %> type="image/png" class="video-logo" />
                <h3 class="video-subtitle"> Find out how good you really are. </h3>
                <h4 class="welcome-line">Authenticate via one of the social networks to get started.</h4>

        </div>
    </div>




<!-- why is the video in line with the jumbotron box? -->